<html>
  <head>
    <title>Ubah Data Pemesanan</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename ='css-tab/style1.css') }}"
    />
  </head>
  <body>
    <h2>Ubah Data</h2>
    <form action="{{ url_for('pesanan_ubah', id=data[0]) }}" method="post">
      ID:<br />
      <input type="hidden" name="id" value="{{ data[0] }}" />
      <input
        type="text"
        name="id"
        size="15"
        value="{{ data[0] }}"
        maxlength="4"
        readonly
      /><br />
      Nama:<br />
      <input
        type="text"
        name="pesanan_pelanggan"
        size="50"
        value="{{ data[1] }}"
        maxlength="40"
      /><br />
      Jumlah Pesanan:<br />
      <input
        type="text"
        name="pesanan_jml"
        size="30"
        value="{{ data[2] }}"
        maxlength="25"
      /><br />
      Harga:<br />
      <input
        type="text"
        name="pesanan_hrg"
        size="30"
        value="{{ data[3] }}"
        maxlength="30"
      /><br />
      Tanggal:<br />
      <input
        type="date"
        name="pesanan_tanggal"
        size="30"
        value="{{ data[4] }}"
        maxlength="30"
      /><br />
      <p><input type="submit" value="Simpan" /></p>
    </form>
  </body>
</html>
